product-grid-{{theme_settings.collection_products_aspect_ratio}}
{{theme_settings.header-branding-alignment}}
{{#if theme_settings.header_borders}}header-borders{{/if}}
header-background-opacity-{{theme_settings.header-background-opacity}}
header-border-opacity-{{theme_settings.header-border-opacity}}
carousel-overlay-opacity-{{theme_settings.carousel-overlay-opacity}}
collection-products-overlay-opacity-{{theme_settings.collection_products_overlay_opacity}}
{{theme_settings.carousel-arrows}}
{{#if theme_settings.homepage_blog_posts_fullwidth}}homepage-blog-posts-full-width{{/if}}
{{#if theme_settings.homepage_blog_posts_overlay}}homepage-blog-posts-overlay{{/if}}
{{#if theme_settings.collection_products_fullwidth}}collection-full-width{{/if}}
{{#if theme_settings.collection_products_borders}}collection-item-borders{{/if}}
{{#if theme_settings.collection_products_overlay_type '===' 'collection_procucts_overlay_image_preview'}}collection-overlay-image-preview{{/if}}
{{#if theme_settings.carousel-height '===' 'carousel-height-cropped'}}carousel-height-cropped{{/if}}
{{#if theme_settings.carousel-height '===' 'carousel-height-full'}}carousel-height-full{{/if}}
{{#if theme_settings.carousel-height '===' 'carousel-height-auto'}}carousel-height-auto{{/if}}
{{#if theme_settings.carousel-transition '===' 'carousel-transition-fade'}}carousel-transition-fade{{/if}}
{{#if theme_settings.products_in_navigation}}product-navigation{{/if}}
{{#unless in_production}} dev-environment{{/unless}}
