<ul>
  {{#if theme_settings.footer_payment_visa}}
    <li class="cart-preview-payment-icon-list-item"><svg><use xlink:href="#icon-visa"></svg></li>
  {{/if}}

  {{#if theme_settings.footer_payment_mastercard}}
    <li class="cart-preview-payment-icon-list-item"><svg><use xlink:href="#icon-mastercard"></svg></li>
  {{/if}}

  {{#if theme_settings.footer_payment_american_express}}
    <li class="cart-preview-payment-icon-list-item"><svg><use xlink:href="#icon-american-express"></svg></li>
  {{/if}}

  {{#if theme_settings.footer_payment_discover}}
    <li class="cart-preview-payment-icon-list-item"><svg><use xlink:href="#icon-discover"></svg></li>
  {{/if}}

  {{#if theme_settings.footer_payment_paypal}}
    <li class="cart-preview-payment-icon-list-item"><svg><use xlink:href="#icon-paypal"></svg></li>
  {{/if}}

  {{#if theme_settings.footer_payment_apple_pay}}
    <li class="cart-preview-payment-icon-list-item"><svg><use xlink:href="#icon-apple-pay"></svg></li>
  {{/if}}
</ul>
