<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
  {{#if price.without_tax}}

    {{#if schema_org}}
      <meta itemprop="price" content="{{price.without_tax.value}}">
    {{/if}}

    <div class="product-price-container">
      <span data-product-price-wrapper="without-tax">
        <span class="product-price {{#if price.saved}}saved{{/if}}" data-product-price>
          {{price.without_tax.formatted}}
        </span>

        {{#if price.saved}}
          <span class="product-price rrp" data-product-rrp>
            {{price.rrp_without_tax.formatted}}
          </span>
        {{/if}}
      </span>

      {{#if price.with_tax}}
        <span class="product-price-tax-label">{{lang 'product.excluding_tax'}}</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if price.with_tax}}

    {{#if schema_org}}
      {{#unless price.without_tax}}
        <meta itemprop="price" content="{{price.with_tax.value}}">
      {{/unless}}
    {{/if}}

    <div class="product-price-container">
      <span data-product-price-wrapper="with-tax">
        <span class="product-price {{#if price.saved}}saved{{/if}}" data-prodct-price>
          {{price.with_tax.formatted}}
        </span>

        {{#if price.saved}}
          <span class="product-price rrp" data-product-rrp>
            {{price.rrp_with_tax.formatted}}
          </span>
        {{/if}}
      </span>

      {{#if price.without_tax}}
        <span class="product-price-tax-label">{{lang 'product.including_tax'}}</span>
      {{/if}}
    </div>
  {{/if}}

  {{#if show_savings}}
    {{#if price.saved}}
      <span class="product-price-saved" data-product-price-saved>
        ({{lang 'product.you_save'}} {{price.saved.formatted}})
      </span>
    {{/if}}
  {{/if}}
</div>
