{{#if collection.products}}
  <nav class="product-collection-filter-sort {{#if collection.faceted_search_enabled}}filters-enabled{{/if}}">
    {{#if collection.faceted_search_enabled}}
      <div class="product-collection-filtering">
        <button class="filter-toggle-wrapper" data-filter-toggle>
          <span class="filter-icon">
            <svg><use xlink:href="#icon-list"></use></svg>
          </span>

          <span class="filter-label">{{lang 'filter.toggle'}}</span>
        </button>

        <button class="filter-clear-all" data-facet-remove-all>{{lang 'faceted_search.clear'}}</button>
      </div>
    {{/if}}

    {{#if show_sort}}
      <div class="product-collection-sorting">
        <form method="get" data-sort-by>
          <div class="form-field form-field-product-sort form-field-select">
            <label class="form-label">
              <span class="form-field-title">
                {{lang 'sorter.sort_by'}}
              </span>
              <span class="form-field-control">
                <span class="form-select-wrapper">
                  <select class="form-input form-select" name="sort">
                    <option value="featured" {{#if sort '===' 'featured'}}selected{{/if}}>{{lang 'sorter.featured'}}</option>
                    <option value="newest" {{#if sort '===' 'newest'}}selected{{/if}}>{{lang 'sorter.newest'}}</option>
                    <option value="bestselling" {{#if sort '===' 'bestselling'}}selected{{/if}}>{{lang 'sorter.top_sellers'}}</option>
                    <option value="alphaasc" {{#if sort '===' 'alphaasc'}}selected{{/if}}>{{lang 'sorter.alpha_asc'}}</option>
                    <option value="alphadesc" {{#if sort '===' 'alphadesc'}}selected{{/if}}>{{lang 'sorter.alpha_desc'}}</option>
                    <option value="avgcustomerreview" {{#if sort '===' 'avgcustomerreview'}}selected{{/if}}>{{lang 'sorter.reviews'}}</option>
                    <option value="priceasc" {{#if sort '===' 'priceasc'}}selected{{/if}}>{{lang 'sorter.price_asc'}}</option>
                    <option value="pricedesc" {{#if sort '===' 'pricedesc'}}selected{{/if}}>{{lang 'sorter.price_desc'}}</option>
                  </select>
                </span>
              </span>
            </label>
          </div>
        </form>
      </div>
    {{/if}}
  </nav>
{{/if}}
