{{inject 'giftCertificateInputEmpty' (lang 'cart.gift_certificates.error')}}

<div class="cart-total-item cart-gift-certificates" data-gift-certificates>
  {{#if cart.gift_certificates}}
    {{#each cart.gift_certificates}}
      <div class="cart-gift-certificate">
        <span class="cart-total-item-label">
          {{lang 'cart.gift_certificates.label' code=code}}
          <br>
          {{lang 'cart.gift_certificates.remaining' balance=remaining.formatted}}
        </span>
        <span class="cart-total-item-value">
          {{used.formatted}}
          <a class="cart-total-item-edit" href="{{remove_url}}" title="{{lang 'cart.gift_certificates.remove'}}">
            {{lang 'cart.gift_certificates.remove'}}
          </a>
        </span>
      </div>
    {{/each}}
  {{else}}
    <span class="cart-total-item-label">{{lang 'cart.gift_certificates.gift_certificate'}}</span>
    <button
      class="cart-total-item-toggle"
      data-add-text="{{lang 'cart.gift_certificates.add_code'}}"
      data-cancel-text="{{lang 'cart.cancel'}}"
      data-gift-certificate-toggle>
      {{lang 'cart.gift_certificates.add_code'}}
    </button>
  {{/if}}

  <form class="cart-discount-form form" method="post" action="{{urls.cart}}" data-validated-form data-gift-certificate-form>
    <div class="form-field form-field-text">
      <label class="form-label" for="couponcode">
        <span class="form-field-title show-for-sr">{{lang 'cart.gift_certificates.enter_code'}}</span>
        <input class="form-input" id="couponcode" type="text" name="certcode" value="" placeholder="{{lang 'cart.gift_certificates.enter_code'}}" required data-gift-certificate-input>
      </label>
    </div>
    <div class="form-actions">
      <input class="button button-small" type="submit" value="{{lang 'cart.gift_certificates.submit'}}">
      <input type="hidden" name="action" value="applycoupon">
    </div>
  </form>
</div>
